.header {
  width: 100%;

  .header__brand {
    max-width: 176px;

    @include tablet() {
      margin: 20px auto;
    }

    .header__brandImage {
      position: relative;
      top: 2px;
      width: 100%;
    }
  }
}
