.navigation {
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: flex-end;

  &--right {
    justify-content: flex-end;

    @include tablet() {
      justify-content: center;
    }
  }

  .navigation__link {
    @include typography();
    color: $black;
    cursor: pointer;
    margin: 0;
    padding: 12px 20px;
    position: relative;
    text-decoration: none;
    transition: color .2s linear;
    text-transform: uppercase;

    &--active {
      color: $blue;

      &:after {
        transform-origin: top left;
        transform: scale(1);
      }
    }

    &:after {
      background: currentColor;
      content: "";
      height: 1px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 100%;
      transform-origin: top right;
      transform: scale(0, 1);
      transition: transform .6s cubic-bezier(.19, 1, .22, 1);
      width: calc(100% - 20px);
    }

    &:hover {
      color: $blue;

      &:after {
        transform-origin: top left;
        transform: scale(1);
      }
    }
  }
}
